/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 35.99875rem) {
    .header__info h1 {
        font-size: 1.2rem;
    }

    .nav-item.hov {
        margin-left: 50%;
    }

    .typed-text span{
        font-size: 1rem;
    }

    .header__btn {
        font-size: 0.8rem;
    }

    .slider__item {
        height: 20rem!important;
    }

    .slider__title {
        font-size: 1.2rem;
    }

    .slider__description {
        font-size: 0.6rem!important;
    }

    .home__content {
        height: 15rem!important;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 36rem) and (max-width: 47.99875rem) {

    .header__info h1 {
        font-size: 1.5rem;
    }

    .nav-item.hov {
        margin-left: 55%;
    }

    .typed-text span{
        font-size: 1rem;
    }

    .slider__item {
        height: 20rem!important;
    }

    .home__content {
        height: 18rem!important;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 48rem) and (max-width: 61.9rem) {

    .nav-item.hov {
        margin-left: 60%;
    }

    .slider__item {
        height: 26rem;
    }
    
}
